<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngIf="loggedIn" tab="discover">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="over-time">
      <ion-icon name="hourglass"></ion-icon>
      <ion-label>Time</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="loggedIn" tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
