top
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Top Buildings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="segment" (ionChange)="updateSection()">
    <ion-segment-button value="recomended">
      <ion-label>For you</ion-label>
    </ion-segment-button>
    <ion-segment-button value="top">
      <ion-label>Top</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment === 'recomended'">
    <div class="ion-padding"></div>

    <ion-slides [options]="options">
      <ion-slide *ngFor="let item of dataArray?.slice(0, 5)">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" class="poster-col">
              <div class="poster-image">
                <ion-icon class="icon-ribbon" name="ribbon"></ion-icon>
                <img [src]="item.photoUrl" />
              </div>
            </ion-col>
            <ion-col size="12">
              <h4 class="ion-no-margin">
                {{ architecturalStyles[item.archStyle].name }}
              </h4>
              <h4 class="ion-no-margin rate">
                <ion-icon name="star"></ion-icon>
                {{ item.voteUserIds.length }}
              </h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <!-- </ng-template> -->
    </ion-slides>
  </div>

  <div class="images" *ngIf="segment === 'top'">
    <div class="one-image" *ngFor="let item of dataArray">
      <ion-card>
        <div class="avatar-container">
          <ion-avatar class="top-avatar">
            <img [src]="item.photoUrl" />
          </ion-avatar>
          <ion-label class="avatar-label">{{ item.postedBy }}</ion-label>
        </div>

        <img [src]="item.photoUrl" />

        <div>
          <div class="like-section">
            <ion-icon
              (click)="addLike(item.photoId)"
              slot="icon-only"
              class="heart-icon"
              name="heart"
            ></ion-icon>
            {{ item.voteUserIds.length }}
          </div>
          <ion-label class="top-label">{{ item.message }}</ion-label>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
