ion-fab-button {
  --background: var(--ion-color-step-150, #fff);
  --background-hover: var(--ion-color-step-200, #f2f2f2);
  --background-focused: var(--ion-color-step-250, #d9d9d9);

  --color: var(--ion-color-primary, #3880ff);
}

/*
 * Material Design uses the ripple for activated
 * so only style the iOS activated background
 */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}

$categories: (
  0: #b16be3,
  1: #ac282b,
  2: #8e8d93,
  3: #fe4c52,
  4: #fd8b2d,
  5: #fed035,
  6: #69bb7b,
  7: #3bc7c4,
  8: #b16be3,
  9: #6600cc,
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track="#{$track}"] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}

.my-building-details{
  height: 100px;
    margin-left: 47px;
    display: flex;
    flex-direction: column;
}
.avatar{
width: 210%;
    height: 190%;
    max-width: 300% !important;
    margin-top: -27px;
}

ion-label{
  color:success;
}

.button-hide {
  visibility: hidden;
}

.no-data-cl {
  text-align: center;
}

:host ::ng-deep .item-native{
  height: 150px!important;
}

.image-shadow{
  height: 100px!important;
}