<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-segment
      *ngIf="ios"
      [(ngModel)]="segment"
      (ionChange)="updateSchedule()"
    >
      <ion-segment-button value="all"> All </ion-segment-button>
      <ion-segment-button value="favorites"> Favorites </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios && !showSearchbar">My Buildings</ion-title>
    <ion-searchbar
      *ngIf="showSearchbar"
      showCancelButton="always"
      [(ngModel)]="queryText"
      (ionChange)="updateSchedule()"
      (ionCancel)="showSearchbar = false"
      placeholder="Search"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all"> All </ion-segment-button>
      <ion-segment-button value="favorites"> Favorites </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Buildings</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar
        [(ngModel)]="queryText"
        (ionChange)="updateSchedule()"
        placeholder="Search"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list #scheduleList [hidden]="shownSessions === 0">
    <ion-item-group *ngFor="let group of userData" [hidden]="group.hide">
      <ion-item-divider sticky>
        <ion-label> {{architecturalStyles[group.name].name}} </ion-label>
      </ion-item-divider>

      <ion-item-sliding
        *ngFor="let build of group.buildings"
        #slidingItem
        [attr.track]="build.id"
        [hidden]="false"
      >
        <ion-item routerLink="/app/tabs/schedule/session/{{build.id}}">
          <ion-thumbnail slot="start">
            <img
              class="avatar"
              [src]="build.url"
              [alt]="build.url + ' profile picture'"
            />
          </ion-thumbnail>
          <ion-label class="my-building-details">
          
             <ion-chip>
            <ion-icon name="navigate"> </ion-icon>
             <ion-label >{{build.address}}</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-icon name="calendar" color="dark"></ion-icon>
               <ion-label >{{build.datetime}}</ion-label>
            </ion-chip>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option
            color="favorite"
            (click)="addFavorite(slidingItem, build)"
            *ngIf="segment === 'all'"
          >
            Favorite
          </ion-item-option>
          <ion-item-option
            color="danger"
            (click)="removeFavorite(slidingItem, build, 'Remove Favorite')"
            *ngIf="segment === 'favorites'"
          >
            Remove
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
    No Sessions Found
  </ion-list-header>
</ion-content>
