::ng-deep .content {
  &-title {
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
  }
  &-subtitle {
    text-align: center;
  }
  &-text-container {
    margin-top: 50px !important;
  }
}

.my-custom-class {
  border-radius: 7px;
  background-color: #59253a;
  --background: #59253a;
  --spinner-color: #fff;
  color: white;
}

ion-fab,
ion-fab-button {
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  border-radius: 50%;
}
