<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon
          *ngIf="!isFavorite"
          slot="icon-only"
          name="star-outline"
          color="warning"
        ></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="shareSession()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteImage()">
        <ion-icon
          class="trash"
          slot="icon-only"
          name="trash"
          color="danger"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session" class="ion-padding">
    <div class="ion-text-center image-box">
      <img class="session-image" [src]="session.url" />
    </div>

    <ion-row>
      <ion-col size="12" class="album-info">
        <h1>{{architecturalStyles[session.style].name}}</h1>
        <p class="about" [class.show]="show">
          {{architecturalStyles[session.style].about}}
        </p>
        <a *ngIf="show" (click)="show = !show" class="show-button">Show less</a>
        <a *ngIf="!show" (click)="show = !show" class="show-button"
          >... Show more</a
        >
        <h5 size="12" class="album-info">Main style characteristics</h5>
        <p class="question">Can you recognise them in your photo?</p>

        <ion-chip
          *ngFor="let ch of architecturalStyles[session.style].characteristics"
          color="medium"
        >
          <ion-icon name="brush" color="dark"></ion-icon>
          <ion-label>{{ch}}</ion-label>
        </ion-chip>

        <h5 size="12" class="album-info">Photo infos</h5>

        <ion-chip color="success" class="location-container">
          <ion-icon name="paper-plane" color="dark"></ion-icon>
          <ion-label>{{session.address}}</ion-label>
        </ion-chip>
        <div class="time-container">
          <ion-chip color="warning">
            <ion-icon name="calendar" color="dark"></ion-icon>
            <ion-label>{{session.datetime.split(', ')[0]}}</ion-label>
          </ion-chip>
          <ion-chip color="warning">
            <ion-icon name="time" color="dark"></ion-icon>
            <ion-label>{{session.datetime.split(', ')[1]}}</ion-label>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div #mapCanvas class="map-canvas"></div>
</ion-content>
