<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon
          *ngIf="!isFavorite"
          slot="icon-only"
          name="star-outline"
          color="warning"
        ></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="shareSession()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteSession()">
        <ion-icon
          class="trash"
          slot="icon-only"
          name="trash"
          color="danger"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session" class="ion-padding">
    <ion-card>
      <img class="session-image" [src]="session.url" />
    </ion-card>
    <ion-card>
      <h4>
        <ion-icon name="paper-plane" color="dark"></ion-icon>{{session.address}}
      </h4>
    </ion-card>
    <ion-card>
      <ion-chip color="danger">
        <ion-icon name="calendar" color="dark"></ion-icon>
        <ion-label>{{session.datetime}}</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-icon name="brush" color="dark"></ion-icon>
        <ion-label>{{architecturalStyles[session.style].name}}</ion-label>
      </ion-chip>
    </ion-card>
  </div>
  <!-- <ion-list>
    <ion-item (click)="sessionClick('add to calendar')" button>
      <ion-label color="primary">Add to Calendar</ion-label>
    </ion-item>
    <ion-item (click)="sessionClick('download video')" button>
      <ion-label color="primary">Download Video</ion-label>
      <ion-icon
        slot="end"
        color="primary"
        size="small"
        name="cloud-download"
      ></ion-icon>
    </ion-item>
  </ion-list> -->
  <div #mapCanvas class="map-canvas"></div>
</ion-content>
